@import './normalize.scss';
@import './variables.scss';

body {
  @include text-style-text-base;
  background-color: map-get($map: $colors, $key: metal-05);
  color: map-get($map: $colors, $key: metal-90);
}

.section {
  padding: 2rem 4rem;
  margin-bottom: 2rem;
}
.color-blocks {
  display: flex;
  flex-wrap: wrap;
}
.color-block {
  height: 8rem;
  width: 8rem;
  padding: 1.5rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}
.type {
  margin-bottom: 1rem;
  line-height: 1.5;
}

.text-xxxxl {
  @include text-style-text-xxxxl;
}

.text-xxxl {
  @include text-style-text-xxxl;
}

.text-xxl {
  @include text-style-text-xxl;
}

.text-xl {
  @include text-style-text-xl;
}

.text-l {
  @include text-style-text-l;
}

.text-m {
  @include text-style-text-m;
}

.text-base {
  @include text-style-text-base;
}

.text-s {
  @include text-style-text-s;
}

.text-s-caps {
  @include text-style-text-s-caps;
}

.text-xs {
  @include text-style-text-xs;
}

.text-mono-base {
  @include text-style-text-mono-base;
}

.text-mono-s {
  @include text-style-text-mono-s;
}
